DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
OLLAMA_HOST=
OLLAMA_MODEL=dolphin3:8b
CHAT_TIMEOUT_MS=120000
GOOGLE_API_KEY=
GOOGLE_MODEL=gemini-1.5-flash-latest
GOOGLE_BASE=https://generativelanguage.googleapis.com
ADMIN_UI_PORT=3210
ADMIN_UI_TOKEN=
